.modal-content-add {
    padding-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    background: black;
    border: none;
    color: white;
}   
.modal-content-add button:hover{
    background: red;
}
#article-add-form {
    display: flex;
    flex-direction: column;
}
#article-add-form label{
    text-align: center;
}