body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1920px;

  background-color: #F5F1E3;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  margin: 0;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
  font-family: 'Montserrat';
}
p {
  font-size: 14px;
}
a {
  text-decoration: none;
  color: white;
}
i {
  color: black; 
  cursor: pointer;
}
.flex-row {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.red {
  color: red;
  font-weight: bold;
}
.closed ~ .main-content {
  transform: translateX(calc(-50vw + 50%)); 
  transition: transform 0.3s ease-in-out;
}
.visible ~ .main-content {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}  
.menu-all ~ .main-content.closed {
  transform: translateX(calc(-50vw + 50%)); 
  transition: transform 0.3s ease-in-out;
}
.menu-all ~ .main-content.visible {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}  
.toggle-menu-button.sticky {
  transform: translateX(-12.5vw);
  transition: transform 0.3s ease-in-out;
}

/* Responsive */ 
@media screen and (max-width: 1000px){
  body {
    overflow-x: auto ;
    overflow-y: auto ;
  }
}
@media screen and (max-width: 750px){
  a {
    font-size: 13px;
  }
  .toggle-menu-button.sticky {
    transform: translateX(-90vw);
    transition: transform 0.3s ease-in-out;
  }
}