body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1920px;
  /* overflow-y: hidden; */
  overflow-x: hidden;
  background-color: #F5F1E3;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  margin: 0;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}
p {
  font-size: 14px;
}
a {
  text-decoration: none;
  color: white;
}
i {
  color: black; 
}
.flex-row {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.red {
  color: red;
  font-weight: bold;
}
.closed ~ .main-content {
  transform: translateX(calc(-50vw + 50%)); 
  transition: transform 0.3s ease-in-out;
}
.visible ~ .main-content {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}  

.menu-all ~ .main-content.closed {
  transform: translateX(calc(-50vw + 50%)); 
  transition: transform 0.3s ease-in-out;
}
.menu-all ~ .main-content.visible {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}  