.menu-ctn {
    margin: 0;
    height: 95vh;
    min-width: 225px;
    color: white;
    background-color: #2D373C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-list li{
    width: 100%;
    padding: 20px 0;
    display: flex;
    text-align: center;
}
.menu-list li:hover a, .menu-list li:hover{
    background: #1F292E;
    color: #207CBA;
}
.menu-list i{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 20px;
}
.menu-list a{
    width: 100%;
    text-align: left;
}
li.li-btn{
    padding: 5px;
}
li.li-btn button{
    background: none;
    border: none;
    color: white;
}
li.li-btn button:hover{
    background: #1F292E;
    color: #207CBA;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.modal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
}