.membres-ctn {
    display: flex;
}
.membres-flex {
    height: 90vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}
.membres-flex h2{
    margin: 0;
}
.membres-adresse {
    width: 85vw;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.all-membres {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: auto;
    gap: 30px;
}
.all-membres li {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ced7c1;
    border-radius: 25px;
    padding: 5px;
    width: 300px;
    height: 100%;
    margin: 0 auto;
}
.all-membres li.first-membres {
    grid-column: span 3; 
    width: 32%;
    margin: 0 auto;
}

.all-membres li img{  
    border-radius: 20px;
}
.all-membres li h2,h3,p {  
    text-align: center;
    margin: 0;
}
.all-membres li h2{  
    margin: 5px;
}
.user-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}   