.items-ctn {
    width: 85vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto 0;
}
.items-flex {
    display: flex;
}
.all-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 90%;
    padding: 0;
    margin: auto;
}
.all-items li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #CED7C1;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    max-height: 208px;
}
.all-items li:hover {
    transition: all 0.3s;
    background-color: #9daf83;
    scale: 1.015;
}
.all-items li img{  
    height: 100px;
    max-width: 100%;
    padding: 10px;
    border-radius: 20px;
    object-fit: cover;
}
.items-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 10px 0;
    gap: 20px;
}
.items-quantity button{
    border: 1px solid #F5F1E3;
    border-radius: 5px;
    background: #CED7C1;
    padding: 5px 10px;
    transition: all 0.3s;
}
.items-quantity button:hover{
    background: #F5F1E3;
    padding: 5px 10px;
    transition: all 0.3s;
}
.all-items li h2,h3,h4,p {  
    text-align: center;
    margin: 0;
}
.all-items li h2{  
    margin: 5px;
}
.all-items h3 {
    font-size: 17px;
}
.item-del {
    border: none;
    background: none;
}
.item-del i {
    color: black;
}
.item-del:hover {
    background: red;
}

/* Responsive */
@media screen and (max-width: 1500px){
    .all-items {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1250px){
    .all-items {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1000px){
    .all-items {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 750px){
    .all-items {
        margin: auto;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .all-items li h3 {  
        font-size: 15px;
    }
    .all-items li h4 {  
        font-size: 14px;
    }
    .all-items li p {  
        font-size: 12px;
    }
}
@media screen and (max-width: 500px){
    .all-items li img {
        width: 100%;
        min-height: 100px;
        padding: 0;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-position: top;
    }
    .items-quantity  {
        gap: 5px;
    }
}