.hidden {
  visibility: hidden;
}

.pagination {
  width: 85vw;
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  list-style: none;
  height: 40px;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination .active button {
  background-color: #4caf50;
  color: white;
}

.pagination button {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  padding: 8px 12px;
  cursor: pointer;
}
