.contact-ctn {
    display: flex;
}
.contact-flex {
    height: 90vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}
.contact-adresse {
    width: 85vw;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.all-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: auto;
    gap: 30px;
}

.all-contact li img{  
    border-radius: 20px;
}
.all-contact li,h3,p {  
    text-align: center;
    margin: 0;
}
.contact-title {
    margin: 20px;
}
.all-contact-li {
    display: flex;
}
.contacts-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.contact-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}   
.contact-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ced7c1;
    border-radius: 25px;
    width: 300px;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    gap: 5px;
    cursor: pointer;
}
.contact-item a {
    color: black;
}